#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 15;
}



p {
    margin: 0;
    padding: 0;
}

#nav-up {
    background: #222 !important;

    .up {
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        //responsiv navbar


        .hamburger-menu {
            position: absolute;
            left: 25px;
            top: 25px;
            font-size: 20px;
            color: #EF6C00;
        }

        .sidebar {
            width: 245px;
            background-color: white;
            position: absolute;
            left: 0px;
            top: 0px;
            height: 100vh;
            z-index: 5;
            transition: all 0.4s;


            .x-icon {
                margin: 15px 0 0 15px;
                font-size: 25px;
                background: #ffc0cba6;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                padding: 8px 0 0 13px;
                color: #ff00007a;
            }

            .sidebar-list {
                padding: 10px 0 0 20px;

                a {
                    text-decoration: none;
                    color: black;
                    width: 100%;
                    font-size: 17px;
                    line-height: 35px;
                }

                .sidebar-pages-list {
                    padding: 30px;
                    width: 100%;
                    background-color: white;
                    position: absolute;
                    left: 0px;
                    top: 270px;
                    z-index: 1;
                    transition: all 0.4s;
                }
            }

        }


        .hide-sidebar {
            transform: translate(-260px);
        }



        //navbar
        .left {

            height: 58px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;

            .currency {
                color: #f5ebebe0;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;

            }

            i {
                color: #bcb3b3a3;
                font-size: 14px;
                position: absolute;
                top: 20px;
                left: 37px;
            }

            .valyuta {
                width: 220px;
                height: 120px;
                background-color: rgba(255, 255, 255, 0.54);
                position: absolute;
                top: 53px;
                left: -3px;
                border-radius: 5px;
                box-shadow: rgb(0 0 0 / 8%) 0px 5px 15px;
                display: grid;
                align-content: center;

                button {
                    border-color: white;
                    background-color: white;
                    border: none;
                    height: 56px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(247, 247, 247)
                    }

                    p {
                        background-color: #EF6C00;
                        color: white;
                        width: 40px;
                        font-size: 13px;
                        margin-left: 15px;
                        margin-top: 12px;
                    }
                }
            }


        }

        //language

        .language {
            position: relative;
            gap: 2px;
            margin-top: 0px;
            margin-left: 100px;

            a {
                text-decoration: none;

                span {
                    color: #c3c3c3;

                }

                img {
                    width: 18px;
                    height: 13px;
                    margin-right: 5px;
                }

                i {
                    color: #c3c3c3b5;
                    margin-left: 42px !important;
                    position: absolute;
                    top: 2px;
                    font-size: 13px;
                }
            }
        }

        .language-area {
            position: absolute;
            padding-top: 3px;
            padding-bottom: 3px;
            top: 50px;
            left: 30px;
            background-color: white;
            width: 221px;
            border-radius: 5px;
            color: #333 !important;
            font-family: Roboto, Arial, Helvetica, sans-serif;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            z-index: 5;

            button {
                justify-content: center;
                width: 100%;
                height: 48px;
                padding-left: 8px;
                display: flex;
                border: none;
                flex-direction: column;
                background-color: white;
                border-bottom-color: #c3c3c3;
                cursor: pointer;

                &:hover {
                    background-color: rgb(247, 247, 247)
                }

                img {
                    position: absolute;
                    width: 18px;
                    height: 13px;
                }

                span {
                    margin-left: 24px;
                    font-size: 14px;
                }

            }
        }

        //icons
        .right {
            display: flex;
            justify-content: space-between;
            width: 320px;
            font-size: Roboto, Helvetica Neue, sans-serif;
            letter-spacing: normal;

            .wishlist {
                transition: all 0.5s;

                &:hover {
                    opacity: 0.7;
                }
            }

            .compare {
                transition: all 0.5s;

                &:hover {
                    opacity: 0.7;
                }
            }

            .my-account {
                transition: all 0.4s;

                &:hover {
                    opacity: 0.7;
                }
            }

            a {
                color: #c3c3c3;
                text-decoration: none;
                font-size: 13px;
                font-weight: bold;
            }
        }
    }
}




//nar-area
#nav-area {
    background-color: #ef6c00;

    .img-log {
        width: 140px;
        height: 98px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 140px;
            height: 40px;
        }


    }

    .input-area {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92px;
        margin-left: 30px;

        input {
            width: 100%;
            height: 40px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border: 1px #fff;
            transition: box-shadow .3s;

            padding: 0 0 0 12px;
            float: left;
        }

        button {
            cursor: pointer;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            width: 140px;
            height: 40px;
            transition: all .25s;
            background-color: #333;
            color: white;
            border: none;

        }
    }

    .cal-bucket {
        position: relative;
        gap: 13px;
        margin-left: 89px;
        display: flex;
        height: 67px;

        .div-icon {
            margin-top: 29px;

            i {
                font-size: 29px;
                color: white;
            }
        }

        .div-phone {
            width: 145px;

            position: relative;

            p {


                top: 25px;
                font-weight: 600;
                top: 25px;
                position: absolute;
                font-size: 12px;
                color: #fff;
            }

            span {
                position: absolute;
                top: 41px;
                font-size: 20px;
                font-weight: 600;
                color: #fff !important;

            }
        }

        .cart {
            position: absolute;
            right: 22px;
            top: 34px;
            transition: all 0.4s;

            &:hover {
                background-color: #d2700f;
            }

            i {
                color: white;
                font-size: 19px;
            }

            span {
                align-items: center;
                color: #fff;
                font-size: 14px;
                font-weight: 500;
                font-size: 15px;
            }

            .count {
                position: absolute;
                bottom: 17px;
                right: 29px;
                background-color: black;
                border-radius: 50%;
                width: 20px;
                font-size: 12px;
                height: 20px;
                padding-left: 4px;

            }
        }
    }

    .spCard-dropdown {

        position: absolute;
        padding-top: 3px;
        padding-bottom: 3px;
        right: 32px;
        top: 131px;
        background-color: white;
        width: 246px;
        border-radius: 5px;
        color: #333 !important;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        z-index: 5;

        a {
            text-decoration: none;

            p {
                top: 5px;
                position: relative;
                color: #444;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .count {

            bottom: 73px;
            left: 180px;
            position: absolute;
            color: #444;
            font-size: 14px;
            font-weight: 500;
        }

        .alert {
            height: 1px;
            position: relative;
            left: 26px;
            bottom: 12px;
        }

    }
}


//navDown
#nav-down {
    height: 65px;
    background-color: #F3F3F3;

    .down {
        display: flex;
        height: 65px;
        position: relative;

        a {
            text-decoration: none;
            color: black;
        }

        .item {
            font-weight: 600;
            font-size: 14px;
            font-family: Roboto, Helvetica Neue, sans-serif;
            width: 155px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.4s;



            &:hover {
                background-color: rgb(217 213 213 / 50%);
            }
        }

        .pages {
            position: relative;

            i {
                position: absolute;
                bottom: 27px;
                right: 40px;
                color: #4b4848;
            }
        }


        .pages-list {
            display: flex;
            flex-direction: column;
            z-index: 20;
            width: 200px;
            position: absolute;
            top: 60px;
            left: 465px;
            padding: 3px 0 3px 0;

            border: 1px solid white;
            border-radius: 5px;
            box-shadow: rgb(0 0 0 / 8%) 0px 5px 15px;

            a {
                user-select: none;
                cursor: pointer;

                border-top: 1px solid #0000000a;
                line-height: 48px;
                height: 48px;
                text-align: left;
                text-decoration: none;
                width: 100%;
                background-color: white;

                &:hover {
                    background-color: rgb(247, 247, 247)
                }

                p {
                    margin-left: 15px;
                }
            }


        }
    }
}





//main

#main {

    .about {
        display: flex;
        width: 100%;
        height: 60px;

        .about-us {

            p {
                padding-top: 20px;
                font-size: 14px;
                font-weight: bold;
                padding-left: 100px;
            }
        }

        .home-about {
            padding-top: 20px;
            display: flex;
            margin-left: 1100px;

            .home {
                a {
                    text-decoration: none;
                    color: rgb(127, 126, 126);
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .drop {

                p {
                    padding-left: 10px;
                    font-size: 14px;
                    font-weight: bold;
                    color: rgb(127, 126, 126);
                }
            }

            .about {

                p {
                    padding-left: 10px;
                    font-size: 14px;
                    font-weight: bold;
                    color: rgb(127, 126, 126);
                }
            }
        }
    }

    .border {
        width: 100%;
    }
}



#img-text {
    .text1{
        margin-top: 60px;
    }

    .text-icon {
        margin-top: 15px;
    }
    .textss1 {

        .img1 {
            margin-top: 60px;

            img {
                width: 100%;
            }
        }

        .img2 {
            margin-top: 20px;

            img {
                width: 100%;
            }
        }

        .img3 {
            margin-top: 20px;

            img {
                width: 100%;
            }
        }
    }

    .textss2 {

        .img1 {
            margin-top: 60px;

            img {
                width: 100%;
            }
        }

        .img2 {
            margin-top: 20px;

            img {
                width: 100%;
            }
        }

        .img3 {
            margin-top: 20px;

            img {
                width: 100%;
            }
        }
    }


    .textss3 {

        .img1 {
            margin-top: 60px;

            img {
                width: 100%;
            }
        }

        .img2 {
            margin-top: 20px;

            img {
                width: 100%;
            }
        }

        .img3 {
            margin-top: 20px;

            img {
                width: 100%;
            }
        }
    }





    .texts1 {
        .text1 {
            margin-top: 60px;

            p {
                width: 100%;
                font-weight: 500;
                font-size: 23px;

            }
        }

        .text-icon {
            display: flex;

            .icon1 {
                display: flex;

                i {
                    color: #EF6C00;
                }

                p {
                    margin-top: -4px;
                    margin-left: 5px;
                    font-size: 15px;
                }
            }

            .icon2 {
                display: flex;
                margin-left: 11px;

                i {
                    color: #EF6C00;
                }

                p {
                    margin-top: -5px;
                    margin-left: 5px;
                    font-size: 15px;
                }
            }

            .icon3 {
                display: flex;
                margin-left: 11px;

                i {
                    color: #EF6C00;
                }

                p {
                    margin-top: -5px;
                    margin-left: 5px;
                    font-size: 15px;
                }
            }
        }

        .text2 {
            margin-top: 20px;
            p {
            margin-top: 20px;

                width: 100%;
            }
        }
    }



    .texts2 {
        .text1 {
            margin-top: 55px;

            p {
                width: 100%;
                font-weight: 500;
                font-size: 23px;

            }
        }

        .text-icon {
            display: flex;
           
            .icon1 {
                display: flex;

                i {
                    color: #EF6C00;
                }

                p {
                    margin-top: -4px;
                    margin-left: 5px;
                    font-size: 15px;
                }
            }

            .icon2 {
                display: flex;
                margin-left: 11px;

                i {
                    color: #EF6C00;
                }

                p {
                    margin-top: -5px;
                    margin-left: 5px;
                    font-size: 15px;
                }
            }

            .icon3 {
                display: flex;
                margin-left: 11px;

                i {
                    color: #EF6C00;
                }

                p {
                    margin-top: -5px;
                    margin-left: 5px;
                    font-size: 15px;
                }
            }
        }

        .text2 {
            margin-top: 20px;
            p {
                width: 100%;
            }
        }
    }






    .texts3 {
        .text1 {
            margin-top: 60px;

            p {
                width: 100%;
                font-weight: 500;
                font-size: 23px;

            }
        }

        .text-icon {
            display: flex;

            .icon1 {
                display: flex;

                i {
                    color: #EF6C00;
                }

                p {
                    margin-top: -4px;
                    margin-left: 5px;
                    font-size: 15px;
                }
            }

            .icon2 {
                display: flex;
                margin-left: 11px;

                i {
                    color: #EF6C00;
                }

                p {
                    margin-top: -5px;
                    margin-left: 5px;
                    font-size: 15px;
                }
            }

            .icon3 {
                display: flex;
                margin-left: 11px;

                i {
                    color: #EF6C00;
                }

                p {
                    margin-top: -5px;
                    margin-left: 5px;
                    font-size: 15px;
                }
            }
        }

        .text2 {
            margin-top: 20px;
            p {
                width: 100%;
            }
        }
    }


    .search-icon {
        display: flex;
        margin-top: 60px;
        margin-left: 20px;
        width: 100%;

        .search {

            input {
                height: 50px;
                width: 340px;
                border: none;
                border: 1px solid rgb(219, 217, 217);
            }
        }

        .icon {

            i {
                padding-top: 18px;
                width: 60px;
                padding-left: 22px;
                background-color: #EF6C00;
                color: white;
                height: 50px;
            }

        }
    }

    .latest {
        margin-left: 20px;
        margin-top: 20px;
        width: 100%;

        h4 {
            font-weight: bold;
            font-size: 20px;
            width: 100%;
            position: relative;

            &:before {
                content: "";
                left: 0;
                position: absolute;
                width: 100%;
                height: 0.0625rem;
                bottom: -0.65625rem;
                background-color: #f5f5f5;
            }

            &:after {
                content: "";
                left: 0;
                position: absolute;
                width: 2.5rem;
                height: 0.125rem;
                background-color: #222;
                bottom: -0.6875rem;
            }


        }
    }

    .img-texts {
        margin-top: 20px;
        margin-left: 20px;
        display: flex;

        img {
            height: 70px;
            width: 110px;
        }

        .text {
            a {
                text-decoration: none;
                color: #000;

                &:nth-child(2){
                    p{
                        font-size: 16px;
                        font-weight: 500;
                        
                    }
                }

                
            }

            p {
                font-size: 16px;
                font-weight: 500;

                &:nth-child(3) {
                    font-size: 14px;
                   
                    font-weight: 400;
                   
                }

            }

            margin-left: 10px;




        }
    }

    .text-widget {
        margin-left: 20px;
        margin-top: 10px;

        h4 {
            font-weight: bold;
            font-size: 20px;
            width: 100%;
            position: relative;

            &::before {
                content: "";
                left: 0;
                position: absolute;
                width: 100%;
                height: 0.0625rem;
                bottom: -0.65625rem;
                background-color: #f5f5f5;
            }

            &::after {
                content: "";
                left: 0;
                position: absolute;
                width: 2.5rem;
                height: 0.125rem;
                background-color: #222;
                bottom: -0.6875rem;
            }
        }

        p {
            margin-top: 30px;
        }
    }

    .tags-widget {
        margin-left: 20px;
        margin-top: 10px;

        h4 {
            font-weight: bold;
            font-size: 20px;
            width: 100%;
            position: relative;

            &::before {
                content: "";
                left: 0;
                position: absolute;
                width: 100%;
                height: 0.0625rem;
                bottom: -0.65625rem;
                background-color: #f5f5f5;
            }

            &::after {
                content: "";
                left: 0;
                position: absolute;
                width: 2.5rem;
                height: 0.125rem;
                background-color: #222;
                bottom: -0.6875rem;
            }
        }
    }

    .buttons {
        margin-left: 20px;
        margin-top: 40px;

        .button1 {
            display: flex;

            .b1 {

                button {
                    &:hover {

                        background-color: #FFA726;
                        color: white;
                        transition: all 0.4s;
                    }
                }

            }

            .b2 {

                button {
                    &:hover {

                        background-color: #FFA726;
                        color: white;
                        transition: all 0.4s;
                    }
                }

            }



            .b1 {
                button {
                    width: 110px;
                    border: 1px solid rgb(211, 208, 208);
                    border-radius: 13px;
                    background-color: white;
                    color: rgb(84, 84, 84);

                    span {
                        font-weight: 500;
                        font-size: 12px;
                    }

                    &:nth-child(2) {
                        margin-left: 10px;
                        width: 140px;
                    }
                }
            }

            .b2 {
                margin-left: 10px;

                button {
                    width: 110px;
                    border: 1px solid rgb(211, 208, 208);
                    border-radius: 13px;
                    background-color: white;
                    color: rgb(84, 84, 84);

                    span {
                        font-weight: 500;
                        font-size: 12px;
                    }

                    &:nth-child(2) {
                        margin-left: 10px;
                        width: 140px;
                    }
                }
            }


        }

        .button2 {
            margin-top: 20px;
            display: flex;

            .b1 {

                button {
                    &:hover {

                        background-color: #FFA726;
                        color: white;
                        transition: all 0.4s;
                    }
                }

            }

            .b2 {
                margin-left: 10px;

                button {
                    &:hover {

                        background-color: #FFA726;
                        color: white;
                        transition: all 0.4s;
                    }
                }

            }

            button {
                width: 110px;
                border: 1px solid rgb(211, 208, 208);
                border-radius: 13px;
                background-color: white;
                color: rgb(84, 84, 84);

                span {
                    font-weight: 500;
                    font-size: 12px;
                }

                &:nth-child(2) {
                    margin-left: 10px;
                    width: 140px;
                }
            }
        }


        .button3 {
            margin-top: 20px;
            display: flex;


            .b1 {

                button {
                    &:hover {

                        background-color: #FFA726;
                        color: white;
                        transition: all 0.4s;
                    }
                }

            }

            .b2 {
                margin-left: 10px;

                button {
                    &:hover {

                        background-color: #FFA726;
                        color: white;
                        transition: all 0.4s;
                    }
                }

            }

            button {
                width: 150px;
                border: 1px solid rgb(211, 208, 208);
                border-radius: 13px;
                background-color: white;
                color: rgb(84, 84, 84);

                span {
                    font-weight: 500;
                    font-size: 14px;
                }

                &:nth-child(2) {
                    margin-left: 10px;
                    width: 160px;
                }
            }
        }
    }



}


















*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

//footer

#footer {
    background-color: #F7F7F7;

    .sophia {
        margin-top: 55px;

        p {
            line-height: 26px;
            font-size: 16px;
            font-weight: 400;
            margin-top: 20px;
        }

        .link {
            margin-top: 10px;

            a {
                text-decoration: none;
                color: black;
                margin-top: 5px;
            }
        }

    }

    .services {
        margin-top: 55px;

        h5 {

            font-size: 22px;
        }

    }

    .service-list {
        ul {
            padding: 0px;
            line-height: 35px;

            li {
                a {
                    text-decoration: none;
                    color: black;
                }

            }

        }

    }

    .subscribe {
        margin-top: 55px;

    }

    .input {
        margin-top: 15px;
        height: 45px;
        background: #fff;
        font-size: 15px;
        line-height: 42px;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        padding: 0 65px 0 20px;
        color: #777;
    }

    button {
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        margin-top: 20px;
        padding: 0 10px;
        text-align: center;
        z-index: 222;
        color: #fff;
        border-radius: 3px;
        line-height: 45px;
        width: 100%;
        background-color: #ef6c00;
    }

    .contact-us {
        margin-top: 55px;

        .tel-box {
            display: flex;

            .text {
                padding-left: 10px;
            }
        }

        .icons {
            ul {
                display: flex;
                justify-content: space-around;
                margin-right: 80px;
                padding: 0;
                margin-top: 35px;

                li {
                    border: 1px solid black;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    text-align: center;
                    padding-top: 6px;

                    a {
                        color: black;
                    }
                }
            }
        }
    }

}

















//responsivlik

@media (max-width: 576px) {
    .right {
        display: none !important;
    }

    #nav-up {
        height: 80px;

        .up {
            justify-content: center !important;


            .left {
                .language {
                    span {
                        display: none !important;
                    }

                    i {
                        position: absolute;
                        left: -15px;
                        top: 3px;
                    }
                }

            }

        }
    }


    #nav-area {


        .logo {
            display: flex !important;
            justify-content: center !important;
        }

        .cal-bucket {
            bottom: 30px;

            .cart-phone {
                margin-left: 15px;
            }

            .div-icon {
                margin-left: 16px;
            }

            .cart {
                margin-right: 85px;
            }
        }
    }

    //slider
    .swiper-slide .shop {
        width: 180px;
        bottom: 30px;
        left: 15px;
    }

    .swiper-slide h3 {
        bottom: 75px;
        left: 16px !important;



    }

    .swiper-slide h1 {
        position: absolute;
        top: 33px !important;
        left: 15px !important;
        font-size: 29px !important;
    }

    .swiper-slide .sale {
        top: 11px !important;
        width: 100px !important;
        font-size: 29px !important;

    }

    .swiper-slide .text {
        font-size: 24px;
    }



    //tab-menu
    .main {
        .tab {
            .tab-menu-link {
                width: 35% !important;

                span {
                    font-size: 14px;
                    color: #736c6c;
                }
            }
        }

    }

    //banner-response#
    #banners {
        .new-laptops {
            width: 513px;
        }

        .right2 {
            .tablet {
                margin-top: 10px;
                width: 513px;
            }

            .cameras {
                margin-top: 10px;
                width: 513px;
            }

            .offer-cameras {
                margin-top: 10px;
                width: 513px;
            }
        }

    }


    #footer {
        .contact-us {
            .tel-box {
                .text {
                    margin-right: 240px;
                }

                .email {
                    p {
                        margin-right: 80px;

                    }
                }
            }

            .icons {
                ul {
                    justify-content: space-between;
                    margin-right: 350px;
                    margin-top: 20px;

                    li {
                        height: 35px;
                        width: 35px;
                        text-align: center;
                        padding-top: 4px;
                    }
                }
            }
        }

    }


}



@media all and  (min-width: 576px) and (max-width: 769px) {
    #nav-up {
        height: 80px;

        .left {
            left: 90px;

            .language {
                margin-left: 30px !important;
                span {
                    display: none !important;
                }

                i {
                    position: absolute;
                    left: -15px;
                    top: 3px;
                }
            }

        }
    }

    #nav-area {

        .input-area {
            position: relative;
            bottom: 30px;

            input {
                width: 60%;
            }

            .btn-search {
                width: 100px;
            }
        }


        .logo {
            display: flex !important;
            justify-content: center !important;
        }

        .img-log{
            img{
                width: 100px;
                height: 50px;
            }
        }

        .cal-bucket {
            bottom: 40px;

            .cart-phone {
                margin-left: 15px;
            }

            .div-icon {
                margin-left: 130px;
            }

            .cart {
                margin-right: 130px;
            }
        }
    }

    //slider-response


    .swiper-slide .shop {
        width: 180px;
        bottom: 30px;
        left: 15px;
    }

    .swiper-slide h3 {
        bottom: 75px;
        left: 16px !important;



    }

    .swiper-slide h1 {
        position: absolute;
        top: 114px !important;
        left: 15px !important;
        font-size: 29px !important;
    }

    .swiper-slide .text {
        font-size: 33px;
    }


    //tab-menu
    .main {
        .tab {
            .tab-menu-link {
                width: 27% !important;

                span {
                    font-size: 13px;
                    color: #736c6c;
                }
            }
        }
    }


    //baners-response
    #banners {

        .new-laptops {
            width: 700px;
        }

        .right2 {
            position: relative;
            bottom: 336px;
        }

        .offer-cameras {

            width: 331px;
            top: 26px;
            height: 332px;
            background-size: cover;
            background-position: 50%;

            h2 {
                font-size: 25px;
                font-weight: 600;
            }

            p {
                top: 146px;
            }

            .btn-price {


                bottom: 106px !important;
                height: 47px;
                width: 108px !important;
            }
        }

        .tablet {

            top: 350px;
            width: 357px;
            left: 342px;
        }

        .cameras {


            left: 342px;

            width: 357px;
            top: 358px;

        }
    }


    //featured
    .cols {
        position: relative;
        bottom: 310px;
    }


    //footer
    .col1 {
        position: relative;
        bottom: 80px;

    }

    #footer {
        position: relative;
        bottom: 50px;

        .col2 {
            position: relative;
            bottom: 65px;

            .contact-us {
                letter-spacing: -1px;
                .tel-box {
                    .text {
                        p {
                            margin-right: 65px;
                        }
                    }
                }

                .icons {
                    position: relative;
                    bottom: 17px;

                    ul {
                        margin-right: 170px;

                        li {
                            height: 35px;
                            width: 35px;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }


}